body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.reduce-opacity {
  opacity: 0.5;
}

.btn-text-align-left {
  text-align: left !important;
}

.btn-remove-text-decoration:focus {
  text-decoration:none !important;
}

.btn-remove-text-decoration:hover {
  text-decoration:none !important;
  font-weight: bold;
}

input[type="checkbox"] {
  cursor: pointer;
}

.hover-pointer:hover {
  font-weight: bold;
  cursor: pointer;
}

.remove-hover {
  pointer-events: none;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}


.slide-enter {
  max-height: 0;
}

.slide-enter.slide-enter-active {
  max-height: 300px;
  transition: max-height 500ms ease-in;
}

.slide-leave {
  max-height: 300px;
}

.slide-leave.slide-leave-active {
  max-height: 0;
  transition: max-height 500ms ease-out;
}

html {
  overflow-y: scroll;
}

input[type="search"]:focus {
    box-shadow: none !important;
    border: 1px solid grey !important;
    outline: none !important; 
}

input[type="text"]:focus {
  box-shadow: none !important;
  border: 1px solid grey !important;
  outline: none !important; 
}

select:focus {
  box-shadow: none !important;
  border: 1px solid grey !important;
  outline: none !important; 
}

.page-link:focus {
  border-color: none !important;
  outline: none !important; 
  box-shadow: none !important;
}